#audioop-lts
certifi
charset-normalizer
dotenv
filelock
fsspec
idna
Jinja2
llvmlite
MarkupSafe
more-itertools
mpmath
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai-whisper
pillow
pip
pydub
python-dotenv
regex
requests
setuptools
six
sympy
tiktoken
toml
torch
torchaudio
torchvision
tqdm
triton
typing_extensions
urllib3
